body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background-color: #1d1c1c;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: aliceblue;
}

.child {
  border: solid lavender 0.5rem;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(75, 63, 102);
}

.title {
  text-align: center;
  font-size: 5.5rem;
  text-decoration: underline;
  font-family: "Amatic SC", cursive;
  color: lightcyan;
}

.header {
  font-size: 3.5rem;
  text-decoration: underline;
  font-family: "Amatic SC", cursive;
}

img {
  height: auto;
  width: 90%;
}

@font-face {
  font-family: customfont;
  src: url(font/VCR_OSD_MONO_1.001.ttf);
}

p {
  font-size: 1.5rem;
  font-family: customfont;
}
