html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  animation-duration: 2.5s;
  animation-name: loading;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: aliceblue;
  align-items: stretch;
}

.child {
  border: solid lavender 0.5rem;
  width: 30%;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 2.2rem;
  border-radius: 3rem;
  box-shadow: 0rem 0rem 0.7rem 0.4rem rgb(168, 150, 211);
}

.title {
  text-align: center;
  font-size: 10rem;
  text-decoration: underline;
  font-family: "Amatic SC", cursive;
  color: lightcyan;
  margin-top: 2.2rem;
  padding-bottom: 2rem;
}

.header {
  font-size: 6rem;
  text-decoration: underline;
  font-family: "Amatic SC", cursive;
}

img {
  height: auto;
  width: 90%;
}

@font-face {
  font-family: customfont;
  src: url(font/VCR_OSD_MONO_1.001.ttf);
}

.info {
  font-size: 2rem;
  font-family: customfont;
  padding-bottom: 5rem;
  height: 2rem;
  padding-top: 1rem;
  position: relative;
}

.clickme {
  font-family: customfont;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 2.5rem;
  border: 1rem;
  box-shadow: inset -0.5rem -0.5rem 1rem orchid,
    inset 0rem 0rem 0.5rem 0.5rem lavender;
  transition: 0.15s;
  width: 8rem;
  height: 2.5rem;
  background-color: violet;
  position: relative;
}

.clickme:active {
  box-shadow: inset 1rem 1rem 0.75rem orchid;
}

.clickme:hover {
  transform: scale(1.5);
}

img:hover {
  transform: matrix(0.5, 0.6, 0.7, 0.8, 0.9, 1);
  transition: 1s;
}

.header:hover {
  transform: rotate(180deg);
  transition: 0.7s;
}

.info:hover {
  transform: skew(5deg, 10deg);
  transition: 0.5s;
}

.title:hover {
  transform: translate(0, 3rem);
  transition: 0.5s;
}

@keyframes loading {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  html,
  body,
  * {
    font-size: 62.5%;
  }
  .child {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 62.5%;
  }
  .child {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  html,
  body,
  * {
    font-size: 50%;
  }
  .child {
    width: 80%;
  }
}
